page-info {
.fundao{
color: #008000;
margin-top: 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+37,f1da36+58 */
background: #ffff88; /* Old browsers */
}
}
